<div id="tutorial_wrapper">
<h3>Web Form Submission Outline</h3>
<ol>
	<li>Choose an accession type.</li>
	<li>Input accession.</li>
	<li>Click the example link to see an example of a valid accession input.</li>
	<li>Input up to 100 protein sequences in FASTA format.</li>
	<li>Click the example link to see examples of valid protein sequence input.</li>
	<li>Choose an organism type.</li>
	<li>Submit or clear input.</li>
</ol>
<div class="center"><img src="images/tutorial1.png" alt="" /></div>

<h3>Direct URL Submission Outline</h3>
<ul>Please try the following two links
	<li><a href="http://musite.net/?acc=uniprot:P04637&model=Phosphorylation.H.sapiens.general.ser.thr" target="_blank">http://musite.net/?acc=uniprot:P04637&model=Phosphorylation.H.sapiens.general.ser.thr</a></li>
	<li><a href="http://musite.net/?model=Phosphorylation.A.thaliana.general.ser.thr&seq=MASSALNADKLVLTPAAVEFLNARYGVDAVEEEDDDEDETEGSEEA" target="_blank">http://musite.net/?model=Phosphorylation.A.thaliana.general.ser.thr&seq=MASSALNADKLVLTPAAVEFLNARYGVDAVEEEDDDEDETEGSEEA</a></li>
	<li>Note: <a href="http://musite.net/service.php?type=getmodels&html=on" target="_blank">this link</a> lists all available models.</li>
</ul>

<h3>Output Outline</h3>
<ol>
	<li>Choose the output features you would like to view.</li>
	<li>Protein sequence with predicted sites highlighted.</li>
	<li>Enter a percentage or move the slider to choose a specificity.</li>
	<li>Graph of predicted sites and their amino acid type.</li>
	<li>Table of all output data. Click on a column header to sort on that column.</li>
	<li>Download output. Choose Filtered to only download output above the currently selected specificity. Choose All to download all output.</li>
</ol>
<div class="center"><img src="images/tutorial2.png" alt="" /></div>

<h3>Example Output</h3>
Example of <a href="#" id="output_single_example" class="theme">Single Sequences Output</a><br />
Example of <a href="#" id="output_mutliple_example" class="theme">Multiple Sequence Output</a>

<h3>Demo Video</h3>
<div><div id="demo_vid">
<iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/9_fnOlMUWxg?rel=0" frameborder="0"></iframe>
</div></div>
</div>