#logo {
    height: 40px;
    width: 40px;
    float: left;
    position: relative;
    top:-10px;
    margin-right: 5px;
}
#caption_title{
    font-size: xx-large;
    color: darkgoldenrod;
    float: left;
}
#headWrapper{
    margin: 40px 180px;
}
#downloadButton{
    float: right;
    margin-right: 8px;
}
#headWrapper:after {
              content: "";
              display: table;
              clear: both;
            }
#contentWrapper:after {
              content: "";
              display: table;
              clear: both;
            }
button#submitBtn{
    background-color: gold;
}
#submitBtn:hover {
    background-color: 
}
button#downloadButton{
    background-color: gold;
}
#titleDiv{
    margin-left: 150px;
}
#muLogo{
    height: 150px;
}
#slideshow{
    float: right;
}
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}