<p>MusiteService is running at <a href="http://musite.net/service">http://musite.net/service</a></p>
<p>Try the following services:</p>
<ul>
<li>to retrieve supported prediction models according to modification types, organism and/or kinases:<br/>
<a href="http://musite.net/service?type=getmodels">http://musite.net/service?type=getmodels</a>
</li>
<li>to make predictions using UniProt accession:<br/>
<a href="http://musite.net/service?type=pred&acc=uniprot:P04637&model=Phosphorylation.H.sapiens.general.ser.thr">http://musite.net/service?type=pred&acc=uniprot:P04637&model=Phosphorylation.H.sapiens.general.ser.thr</a>
</li>
<li>to make predictions and set stringency level according to specificity:<br/>
<a href="http://musite.net/service?type=pred&acc=uniprot:P04637&model=Phosphorylation.H.sapiens.general.tyr&sp=.95">http://musite.net/service?type=pred&acc=uniprot:P04637&model=Phosphorylation.H.sapiens.general.tyr&sp=.95</a>
</li>
<li>to make predictions using protein sequence:<br/>
<a href="http://musite.net/service?type=pred&seq=MERSPAVCCQDPRAELVERVAAISVAHLEEAEEGPEPASNGVDPPPRARAASVIPGSASRPTPVRPSLSARKFSLQE&model=Phosphorylation.H.sapiens.general.ser.thr">http://musite.net/service?type=pred&seq=MERSPAVCCQDPRAELVERVAAISVAHLEEAEEGPEPASNGVDPPPRARAASVIPGSASRPTPVRPSLSARKFSLQE&model=Phosphorylation.H.sapiens.general.ser.thr</a>
</li>
</ul>